
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(catalog/view/theme/default/assets/img/hair_salon.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>{{ name }}</span></h2>
              <p>It is our vision to be a salon where everyone feels comfortable and convenient. We wish to perpetuate happiness among our clients and staff!</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Malaysia <span> Top 1</span> Hair Salon !</h3>
            <p> A person who cuts his hair here is about to change his life. It is our vision to be a salon where everyone feels comfortable and convenient. We wish to perpetuate happiness among our clients and staff!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#services">Find Out More</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="services" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Check out <strong>our services</strong></h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="catalog/view/theme/default/assets/img/services/hair.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Hair</h4>
              <!-- <p>Male </p> -->
              <a href="catalog/view/theme/default/assets/img/services/hair.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-zoom-in"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="catalog/view/theme/default/assets/img/services/nail.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Nail</h4>
              <a href="catalog/view/theme/default/assets/img/services/nail.jpeg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-zoom-in"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="catalog/view/theme/default/assets/img/services/scalp.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Scalp</h4>
              <a href="catalog/view/theme/default/assets/img/services/scalp.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-zoom-in"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"></a>
            </div>
          </div>

       

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <section id="clients" class="clients">
      <div class="section-title mb-3" data-aos="fade-up">
        <h2><strong>On Site Services</strong></h2>
        <p>We offer on site special occasion hair over entire Penang area. You can stay at home and enjoy our serives. Get touch with us now!</p>
        <a class="cta-btn align-middle" href="#services">Appointment Now</a>
      </div>
    </section>

  </main><!-- End #main -->