<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007834937534-8d5gajo6ucu60ehl0ukv3qc3rg8i43si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007834937534-8d5gajo6ucu60ehl0ukv3qc3rg8i43si</string>
	<key>API_KEY</key>
	<string>AIzaSyDY3vP7KW4mxM-jhh7rVyz06hbKgpGqe8w</string>
	<key>GCM_SENDER_ID</key>
	<string>1007834937534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GPS-Tracking-System</string>
	<key>PROJECT_ID</key>
	<string>gpstracker-814d4</string>
	<key>STORAGE_BUCKET</key>
	<string>gpstracker-814d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007834937534:ios:f80dfd9282eb5f784ec6ef</string>
	<key>DATABASE_URL</key>
	<string>https://gpstracker-814d4.firebaseio.com</string>
</dict>
</plist>